<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:screenOrientation="portrait"
        tools:targetApi="31">


        <activity android:name=".other.Download_file"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".activity.chapter_list"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            ></activity>

        <activity android:name=".activity.list"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".activity.Pdf_view_act"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"

            ></activity>

        <activity android:name=".activity.Splash"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            ></activity>

        <activity android:name=".activity.main_act"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".activity.download_read_act"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            ></activity>

        <activity android:name=".activity.Pdf_view_frome_assete"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            ></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ap_id" />

    </application>
</manifest>